/*
Reglas para trabajar con CSS
1- Primero se definen los esilos para ETIQUETAS html, por ejemplo: header, footer, div, a, p, etc.
2- Despúes se definen los estilos para IDENTIFICADORES (id),
Los id's son elementos únicos en el html, en el CSS se declaran con el simbolo de
# Ejemplo:#nombre-id {estilos} y en html se llaman mediante el atributo id
Ejemplo:<div id="name">
3- Los estilos para clase se definen (class), las clases son elementos que se
pueden repetir n veces en el html, en el css se declara con el simbolo . ejemplo:
.nombre-class{estilos} y en html <div class = "border">
4- Todos los estilos se ordenan conforme van apareciendo en la disposicón del html
teniendo en cuenta la prioridad anterior, primero etiquetas html, id y al final clases
5- los atributos se declaran de la siguiente forma: {atributo1:valor1; atributo2:valor2;
...atributoN:valorN;}
6- Todos los atributos se ordenan alfabeticamente.
7- Si tenemos estilos para las etiquetas html y body son los primeros en definirse
8- en el body se declara un tamaño de fuente global
9- Si tenemos estilos para resetear html estos iran antes de todos los estilos
* comodin que significa todos los elementos
*/

*{
	margin:0;
	padding: 0;
}
body {
	background: Grey; /*para acceder a una imagne de fondo agregamos url(../img/fondo.jpg, el doble punto significa salto de carpeta)*/
	color:White;
	font-size: 16px;
}